:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --desc-color: #757575;
  --accent-color: #2196F3;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: black;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

body {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.container {
  width: 100%;
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 320px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
.portfolio-main-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

@media screen and (min-width: 320px) {
  .mobile-menu_container {
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 25px;
  }
  .mobile-menu-contact_lead-item:not(:last-child) {
    margin-bottom: 32px;
  }
}
.mobile-menu-nav_item {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #212121;
}
.mobile-menu-nav_item:not(:last-child) {
  margin-bottom: 32px;
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    max-height: 796px;
    z-index: 10000;
    top: 0;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 0 100wmax rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 500ms linear, visibility 500ms linear;
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    padding-left: 25px;
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .modal-menu_close-btn {
    position: absolute;
    top: 36px;
    right: 25px;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    cursor: pointer;
  }
}
.mobile-menu-nav__link {
  transition: color var(--transition);
}
.mobile-menu-nav__link:hover, .mobile-menu-nav__link:focus {
  color: var(--accent-color);
}

.mobile-menu-contact_phone {
  margin-top: 50px;
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  transition: color var(--transition);
  color: var(--accent-color);
}

.mobile-menu-contact_email {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--desc-color);
  margin-top: 32px;
  transition: color var(--transition);
}
.mobile-menu-contact_email:hover, .mobile-menu-contact_email:focus {
  color: var(--accent-color);
}

.mobile-menu-contact_social {
  display: flex;
  flex-direction: row;
  margin-top: 64px;
}

.mobile-menu-social_link {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  margin-right: 20px;
}
.mobile-menu-social_link::after {
  content: "";
  width: 22px;
  height: 0px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  position: absolute;
  transform: rotate(90deg);
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
.hero__btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: white;
  background-color: var(--accent-color);
  cursor: pointer;
}
.hero__btn:hover, .hero__btn:focus {
  color: white;
  background-color: var(--accent-color);
}

.hero__btn {
  min-width: 200px;
  min-height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: inherit;
  align-items: center;
  text-align: center;
  margin-left: auto;
  display: block;
  margin-right: auto;
  padding-top: 10px;
  padding-left: 32px;
  padding-bottom: 10px;
  padding-right: 32px;
  transition: background-color var(--transition);
}

.social-menu-list {
  display: flex;
  margin-top: 16px;
  justify-content: center;
  gap: 10px;
}

.social-menu-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: inherit;
  border-radius: 50%;
  transition: background-color var(--transition);
}
.social-menu-link:hover, .social-menu-link:focus {
  background-color: var(--accent-color);
}
.social-menu-link:hover .social-menu-icon, .social-menu-link:focus .social-menu-icon {
  fill: white;
}

.social-menu-icon {
  fill: #AFB1B8;
  transition: fill var(--transition);
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}
.logo__label {
  color: #2196F3;
}

.lastsub-logo {
  color: #fff;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--transition), visibility var(--transition);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@media screen and (min-width: 320px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 609px;
    background-color: #fff;
    padding: 40px;
  }
  .modal-close-btn {
    position: absolute;
    right: 8px;
    top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 30px;
    height: 30px;
    padding: 0;
    border-radius: 50%;
    transition: border-color var(--transition);
  }
  .modal-close-btn:hover, .modal-close-btn:focus {
    border-color: var(--accent-color);
  }
  .modal-close-btn:hover .modal-close-icon, .modal-close-btn:focus .modal-close-icon {
    fill: var(--accent-color);
  }
  .modal-close-icon {
    transition: fill var(--transition);
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    background-color: #fff;
    padding: 40px;
  }
  .modal-close-btn {
    position: absolute;
    right: 8px;
    top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 30px;
    height: 30px;
    padding: 0;
    border-radius: 50%;
    transition: border-color var(--transition);
  }
  .modal-close-btn:hover, .modal-close-btn:focus {
    border-color: var(--accent-color);
  }
  .modal-close-btn:hover .modal-close-icon, .modal-close-btn:focus .modal-close-icon {
    fill: var(--accent-color);
  }
  .modal-close-icon {
    transition: fill var(--transition);
  }
}
@media screen and (max-width: 1199px) {
  .form-desc {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    color: #212121;
    margin-bottom: 12px;
  }
  .modal-form {
    display: flex;
    flex-direction: column;
  }
  .modal-form-input-wrap {
    display: block;
  }
  .modal-form-input-desc {
    font-family: var(--primary-font);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--desc-color);
    display: block;
    margin-bottom: 4px;
  }
  .modal-form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    transition: border-color var(--transition);
  }
  .modal-form-input:hover, .modal-form-input:focus {
    cursor: pointer;
    outline: none;
    border-color: var(--accent-color);
  }
}
.form-desc {
  font-family: var(--primary-font);
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
  margin-bottom: 12px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-input-wrap {
  display: block;
}

.modal-form-input-desc {
  font-family: var(--primary-font);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--desc-color);
  display: block;
  margin-bottom: 4px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color var(--transition);
}
.modal-form-input:hover, .modal-form-input:focus {
  cursor: pointer;
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-field {
  margin-bottom: 10px;
}

.modal-form-input-wrap {
  position: relative;
}

.modal-form-input-icon {
  display: block;
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translatey(-50%);
  transition: fill var(--transition);
}
.modal-form-input:hover + .modal-form-input-icon, .modal-form-input:focus + .modal-form-input-icon {
  fill: var(--accent-color);
}

.modal-form-message {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--transition);
}
.modal-form-message:hover, .modal-form-message:focus {
  border-color: var(--accent-color);
  outline: none;
}
.modal-form-message::placeholder {
  color: rgba(117, 117, 117, 0.5);
  line-height: 1.14;
  letter-spacing: 0.01em;
  font-family: var(--primary-font);
}

.modal-form-desc {
  font-family: var(--primary-font);
  font-size: 12px;
  line-height: 1.17;
  color: var(--desc-color);
  display: flex;
  align-items: baseline;
}
.modal-form-desc::before {
  content: "";
  display: block;
  width: 16px;
  height: 15px;
  cursor: pointer;
  border: 1px solid #212121;
  border-radius: 2px;
  margin-right: 8px;
}

.privacy-doc {
  font-family: var(--primary-font);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0em;
}

.modal-form-check:checked + .modal-form-desc::before {
  background-color: var(--accent-color);
  outline: none;
  border-color: var(--accent-color);
  background-image: url(../images/form/Vector.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 11px 8px;
}

.modal-button-submit {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: white;
  background-color: var(--accent-color);
  cursor: pointer;
  min-width: 200px;
  min-height: 50px;
  border: inherit;
  border-radius: 4px;
  text-align: center;
  align-items: center;
  display: block;
  margin-left: auto;
  padding-top: 10px;
  margin-right: auto;
  margin-top: 30px;
  padding-bottom: 10px;
  padding-left: 32px;
  transition: box-shadow var(--transition);
  padding-right: 32px;
}
.modal-button-submit:hover, .modal-button-submit:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 1200px) {
  .form-desc {
    line-height: 1.15;
  }
  .modal-form-desc {
    font-size: 14px;
    line-height: 1.71;
  }
  .privacy-doc {
    font-size: 14px;
    line-height: 1.71;
  }
}
@media screen and (min-width: 320px) {
  .hero {
    background-color: #C4C4C4;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg/mobile_bg.jpg);
    min-height: 400px;
    max-width: 100%;
    background-size: cover;
    padding-top: 118px;
    padding-bottom: 198px;
  }
  .hero__title {
    font-family: var(--primary-font);
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
}
@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg/mobile_bg@x2.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-color: #C4C4C4;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg/tablet_bg.jpg);
    min-height: 400px;
    max-width: 100%;
    background-size: cover;
    padding-top: 118px;
    padding-bottom: 118px;
  }
  .hero__title {
    font-family: var(--primary-font);
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
    width: 360px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg/tablet_bg@x2.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-color: #C4C4C4;
    max-width: 1600px;
    margin: 0 auto;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg/desk_bg.jpg);
    background-size: cover;
  }
  .hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.5;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    text-transform: uppercase;
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg/desk_bg@x2.jpg);
  }
}
@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
  .header-list-contact {
    display: none;
  }
  .mobile-menu-open {
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0%;
  }
  .mobile-menu-open:hover .mobile-menu-open_icon, .mobile-menu-open:focus .mobile-menu-open_icon {
    fill: #2196F3;
    transition: fill var(--transition);
  }
}
.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .page-header {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
@media screen and (max-width: 1199px) {
  .page-header {
    padding-top: 21px;
    padding-bottom: 21px;
    border-bottom: 1px solid #ececec;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu-open {
    display: none;
  }
  .page-nav {
    display: flex;
    align-items: center;
  }
  .menu {
    display: flex;
    align-items: center;
  }
  .menu {
    margin-left: 88px;
  }
  .menu__item {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    position: relative;
    display: block;
  }
  .menu__item:not(:last-child) {
    margin-right: 50px;
  }
  .menu__item::after {
    display: none;
  }
  .menu__item .current::after,
  .menu__item .current::after {
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196F3;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(0, 720%);
  }
  .menu__link {
    transition: color var(--transition);
  }
  .menu__link:hover, .menu__link:focus {
    color: var(--accent-color);
  }
  .header-list-contact {
    margin-left: auto;
  }
  .icon-header-email {
    fill: #757575;
    margin-right: 10px;
    transition: fill var(--transition);
  }
  .menu-email {
    font-weight: 500;
    color: #757575;
    display: flex;
    align-items: center;
    transition: color var(--transition);
  }
  .menu-email:hover, .menu-email:focus {
    color: var(--accent-color);
  }
  .menu-email:hover .icon-header-email, .menu-email:focus .icon-header-email {
    fill: currentColor;
  }
  .icon-header-phone {
    fill: #757575;
    margin-right: 10px;
    transition: color var(--transition);
    transition: fill var(--transition);
  }
  .menu-phone {
    font-weight: 500;
    color: #757575;
    display: flex;
    align-items: center;
  }
  .menu-phone:hover, .menu-phone:focus {
    color: var(--accent-color);
  }
  .menu-phone:hover .icon-header-phone, .menu-phone:focus .icon-header-phone {
    fill: currentColor;
  }
}
@media screen and (min-width: 1200px) {
  .page-header {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #ECECEC;
  }
  .page-header-container {
    display: flex;
    align-items: center;
  }
  .page-nav {
    display: flex;
  }
  .menu {
    display: flex;
    align-items: center;
  }
  .header-list-contact {
    display: flex;
  }
  .menu {
    margin-left: 93px;
  }
  .menu__item {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    position: relative;
    display: block;
  }
  .menu__item:not(:last-child) {
    margin-right: 50px;
  }
  .menu__item .current::after,
  .menu__item .current::after {
    display: none;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196F3;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(0, 800%);
  }
  .menu__link {
    transition: color var(--transition);
  }
  .menu__link:hover, .menu__link:focus {
    color: var(--accent-color);
  }
  .header-list-contact {
    margin-left: auto;
  }
  .header-list-item:not(:last-child) {
    margin-right: 50px;
  }
  .icon-header-email {
    fill: #757575;
    margin-right: 10px;
    transition: fill var(--transition);
  }
  .menu-email {
    font-weight: 500;
    color: #757575;
    display: flex;
    align-items: center;
    transition: color var(--transition);
  }
  .menu-email:hover, .menu-email:focus {
    color: var(--accent-color);
  }
  .menu-email:hover .icon-header-email, .menu-email:focus .icon-header-email {
    fill: currentColor;
  }
  .icon-header-phone {
    fill: #757575;
    margin-right: 10px;
    transition: color var(--transition);
    transition: fill var(--transition);
  }
  .menu-phone {
    font-weight: 500;
    color: #757575;
    display: flex;
    align-items: center;
  }
  .menu-phone:hover, .menu-phone:focus {
    color: var(--accent-color);
  }
  .menu-phone:hover .icon-header-phone, .menu-phone:focus .icon-header-phone {
    fill: currentColor;
  }
}
.about-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

@media screen and (max-width: 767px) {
  .about-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .about-list_item:not(:last-child) {
    margin-right: 30px;
  }
  .icon-about-list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
  }
  .icon-about-item {
    transition: fill var(--transition);
  }
  .icon-about-item:hover, .icon-about-item:focus {
    fill: var(--accent-color);
  }
  .list-subtitle {
    text-align: center;
    font-weight: 700;
    line-height: 1.14;
    color: #212121;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  .list-description {
    line-height: 1.71;
    color: var(--desc-color);
  }
}
@media screen and (min-width: 768px) {
  .about-section {
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
  }
  .about-list-item {
    width: 354px;
  }
  .icon-about-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    width: 354px;
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
  }
  .icon-about-item {
    transition: fill var(--transition);
  }
  .icon-about-item:hover, .icon-about-item:focus {
    fill: var(--accent-color);
  }
  .list-subtitle {
    font-weight: 700;
    line-height: 1.14;
    color: #212121;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  .list-description {
    line-height: 1.71;
    color: var(--desc-color);
  }
}
@media screen and (min-width: 1200px) {
  .about-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .about-list-item {
    width: 270px;
  }
  .icon-about-list {
    width: 270px;
  }
}
@media screen and (max-width: 1199px) {
  .we-do-section {
    display: none;
    padding-top: 0;
    padding-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .we-do-section {
    padding-bottom: 94px;
  }
  .section-subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    color: #212121;
    margin-bottom: 50px;
  }
  .we-do-substitle {
    text-align: center;
  }
  .we-do-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .text-h2 {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  .we-do-item {
    position: relative;
  }
  .box-absolute {
    position: absolute;
    background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8));
    width: 100%;
    bottom: 0%;
    left: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
  }
}
.team-section {
  background-color: #F5F4FA;
  padding-top: 60px;
  padding-bottom: 60px;
}

.team-img {
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .team-section {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}
.team-subtitle {
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  color: #212121;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .team-subtitle {
    font-size: 36px;
    line-height: 1.17;
  }
}
.team-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.worker-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  color: #212121;
  text-align: center;
  margin-bottom: 10px;
}

.job-name {
  font-size: 16px;
  line-height: 1.17;
  color: var(--desc-color);
  text-align: center;
}

.team-description {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 1199px) {
  .team-description {
    padding-bottom: 24px;
  }
}
.clients-list-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

/* Media query for screens up to 480px */
@media screen and (max-width: 480px) {
  .clients-menu {
    justify-content: space-between;
    /* Arrange items with space between them */
  }
  .clients-menu-item {
    width: calc(50% - 15px);
    /* Display two items in one row with 15px gap between them */
  }
}
/* Media query for screens from 481px to 767px */
@media screen and (min-width: 481px) and (max-width: 767px) {
  .clients-menu-item {
    width: 226px;
  }
}
/* Media query for screens from 768px to 1199px */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients-menu-item {
    width: 226px;
  }
}
/* Media query for screens 1200px and above */
@media screen and (min-width: 1200px) {
  .clients-list-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .clients-subtitle {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
  .clients-menu-item {
    width: 170px !important;
  }
}
.clients-subtitle {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 30px;
}

.clients-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.clients-menu-item {
  width: 210px;
  height: 92px;
  flex-shrink: 0;
}

.clients-menu-icon {
  fill: #AFB1B8;
}

.link-company-site {
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transition: border-color var(--transition);
}
.link-company-site:hover, .link-company-site:focus {
  border-color: var(--accent-color);
  cursor: pointer;
}
.link-company-site:hover .clients-menu-icon, .link-company-site:focus .clients-menu-icon {
  fill: var(--accent-color);
}

.clients-menu-icon {
  transition: fill var(--transition);
}

.page-footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

.address-main {
  margin-top: 20px;
}

.address-mail,
.address-phone {
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--transition);
}
.address-mail:hover, .address-mail:focus,
.address-phone:hover,
.address-phone:focus {
  color: var(--accent-color);
}

.footer-section-description {
  font-size: 14px;
  line-height: 1.14;
  color: #FFFFFF;
  font-weight: 700;
  text-transform: uppercase;
}

.social-footer-list {
  display: flex;
  margin-top: 20px;
  gap: 10px;
  justify-content: center;
}

.footer-social-link {
  background: rgba(255, 255, 255, 0.1);
}

.telegram-sub-btn {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.06em;
  cursor: pointer;
  display: flex;
  position: relative;
  align-items: center;
  width: 200px;
  height: 50px;
  padding: 10px 29px;
  margin-left: auto;
  margin-right: auto;
  color: #FFFFFF;
  background-color: var(--accent-color);
  outline: none;
  border-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.telegram-svg-icon {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-100%, 55%);
}

@media screen and (max-width: 767px) {
  .footer-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .footer-logo {
    display: block;
    text-align: center;
  }
}
.address-item:not(:last-child) {
  margin-bottom: 8px;
}

.address-item {
  font-style: normal;
}

@media screen and (max-width: 767px) {
  .address-item {
    text-align: center;
  }
}
.address-map {
  line-height: 1.7;
  color: white;
  transition: color var(--transition);
}
.address-map:hover, .address-map:focus {
  color: var(--accent-color);
}

.footer-section-description {
  font-size: 14px;
  line-height: 1.14;
  color: #FFFFFF;
  font-weight: 700;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .footer-section-description {
    margin-top: 60px;
    margin-bottom: 20px;
    text-align: center;
    line-height: 1.14;
  }
}
@media screen and (max-width: 767px) {
  .footer-content-message {
    margin-top: 60px;
  }
}
.footer-message-head {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #FFFFFF;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer-message-head {
    text-align: start;
  }
}

@media screen and (max-width: 479px) {
  .form-button {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 290px;
  }
}
@media screen and (min-width: 480px) {
  .form-button {
    min-width: 320px;
  }
}

@media screen and (max-width: 1199px) {
  .user-email-label {
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 20px;
  }
}

.user-email-input {
  display: flex;
  align-items: center;
  padding: 15px 16px;
  height: 50px;
  width: 100%;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2F303A;
}

@media screen and (min-width: 480px) {
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .content-footer {
    text-align: center;
  }
  .footer-content-item {
    text-align: center;
  }
  .footer-content-message {
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    min-width: 320px;
  }
  .telegram-sub-btn {
    margin-top: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-container {
    justify-content: start;
  }
  .content-footer {
    margin-right: 70px;
    text-align: left;
  }
  .footer-section-description {
    text-align: start;
  }
  .footer-content-item {
    margin-right: 93px;
  }
  .footer-content-message {
    margin: 0px 0px;
  }
  .form-button {
    margin-top: 20px;
    display: flex;
  }
  .user-email-label {
    font-family: var(--primary-font);
    font-size: 16px;
    line-height: 1.25;
    background-color: #2F303A;
  }
  .user-email-input {
    min-width: 358px;
    padding: 15px 16px;
    margin-right: 12px;
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.6);
    background-color: #2F303A;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    outline: none;
  }
  .telegram-sub-btn {
    margin-top: 0;
    margin-left: 12px;
  }
}
.nav-portfolio-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 50px;
  justify-content: center;
}

.nav-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  background-color: #F5F4FA;
  cursor: pointer;
  border-radius: 4px;
  border-color: #F5F4FA;
  padding-top: 6px;
  padding-left: 22px;
  padding-bottom: 6px;
  padding-right: 22px;
  justify-content: center;
  border-radius: 4px;
  transition: box-shadow var(--transition), background-color var(--transition), color var(--transition);
}
.nav-btn:hover, .nav-btn:focus {
  background-color: var(--accent-color);
  color: #FFFFFF;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.nav-btn:hover, .nav-btn:focus {
  background-color: var(--accent-color);
  color: white;
}

@media screen and (max-width: 767px) {
  .nav-portfolio-menu {
    justify-content: start;
    width: 100%;
  }
  .project-img {
    width: 100%;
  }
  .block-description {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .project-img {
    width: 354px;
  }
  .block-description {
    width: 354px;
  }
}
.list-project {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.project-item-container {
  position: relative;
  overflow: hidden;
}

.project-list-link {
  display: block;
  text-decoration: none;
  transition: box-shadow var(--transition), border var(--transition);
}
.project-list-link:hover, .project-list-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project-list-link:hover .overlay, .project-list-link:focus .overlay {
  transform: translate(0, 0);
}

.overlay {
  font-family: var(--primary-font);
  font-size: 18px;
  font-weight: 1.6;
  color: #FFFFFF;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
  transform: translate(0, 100%);
  transition: transform var(--transition);
  padding: 63px 24px 63px 24px;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(33, 150, 243, 0.9), rgba(33, 150, 243, 0.9));
}

.block-description {
  background-color: #FFFFFF;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;
  border-top: none;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: #212121;
}

.project-type {
  font-family: var(--primary-font);
  font-size: 16px;
  line-height: 1.88;
  color: var(--desc-color);
}

.job-name {
  font-size: 16px;
  color: var(--desc-color);
}

@media screen and (max-width: 767px) {
  .project-item {
    width: 100%;
  }
}/*# sourceMappingURL=main.css.map */