:root {
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --desc-color: #757575;
    --accent-color: #2196F3;
    --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}