.about-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}


// 0px - 767px
@media screen and (max-width: 767px) {
    .about-section {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .about-list_item:not(:last-child) {
        margin-right: 30px;
    }
    .icon-about-list {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 30px;
        height: 120px;
        background-color: #F5F4FA;
        border-radius: 4px;
    }
    .icon-about-item {
        transition: fill var(--transition);

        &:hover,
        &:focus {
            fill: var(--accent-color);
        }
    }
    .list-subtitle {
        text-align: center;
        font-weight: 700;
        line-height: 1.14;
        color: #212121;
        margin-bottom: 10px;
        text-transform: uppercase;       
    }
    .list-description {
        line-height: 1.71;
        color: var(--desc-color);
    }
}

// 768px - 1199px
@media screen and (min-width: 768px) {
    .about-section {
            padding-top: 60px;
            padding-bottom: 60px;
            display: flex;
            flex-wrap: wrap;
        }
    // .about-list {
    //         display: flex;
    //         flex-wrap: wrap;
    //     }
    .about-list-item {
        width: 354px;
    }
        // .about-list-item:not(:last-child) {
        //     margin-right: 30px;
        //     min-width: 354px;
        // }
    
        .icon-about-list {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 30px;
            width: 354px;
            height: 120px;
            background-color: #F5F4FA;
            border-radius: 4px;
        }
    
        .icon-about-item {
            transition: fill var(--transition);
    
            &:hover,
            &:focus {
                fill: var(--accent-color);
            }
        }
    
        .list-subtitle {
            font-weight: 700;
            line-height: 1.14;
            color: #212121;
            margin-bottom: 10px;
            text-transform: uppercase;
        }
    
        .list-description {
            line-height: 1.71;
            color: var(--desc-color);
        }
}

// desktop 1200px +

@media screen and (min-width: 1200px) {
    .about-section {
        padding-top: 94px;
        padding-bottom: 94px;
    }    
    .about-list-item {
        width: 270px;
    }
    .icon-about-list {
        width: 270px;
    }
}
// .about-section-container {
//     display: flex;
// }

// .about-list {
//     display: flex;
// }

// .icon-about-list {
//         display: flex;
//             justify-content: center;
//             align-items: center;
//     margin-bottom: 30px;
//     width: 270px;
//     height: 120px;
//     background-color: #F5F4FA;
//     border-radius: 4px;

// }

// .icon-about-item {
//     transition: fill var(--transition);

//     &:hover,
//     &:focus {
//         fill: var(--accent-color);
//     }
// }



// .about-list-item:not(:last-child) {
//     margin-right: 30px;
//     min-width: 270px;
// }

// .list-subtitle {
//     font-weight: 700;
//     line-height: 1.14;
//     color: #212121;
//     margin-bottom: 10px;
//     text-transform: uppercase;
// }

// .list-description {
//     line-height: 1.7;
//     color: var(--desc-color);
// }